.body{
	margin: 0;
	padding: 0;
}
.content{
	height: 1500px;
	background-color: E8CAC8;
}
.big-image{
	padding: 300px;
	background-image: url(hayley.gif);
	background-size: cover;
	background-attachment: fixed;
	-webkit- transition:all 0.25 ease;
	-moz-transition:all 0.25 ease;
	transition:all 0.25 ease;

}